## Java

hs_err_pid*
.idea/
*.ipr
*.iws
*.iml
out/

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Gradle

.gradle
build/

## OS Specific
.DS_Store

**/Thumbs.db
